
<div *ngIf="flag" class="wrapper">
  <h3 style="text-align: center;margin-bottom: 2%;">Seat Reservation System</h3>
  <form [formGroup]="bookingForm" class="form-signin" (ngSubmit)="onSubmit(bookingForm)">
    <input type="text" class="form-control" placeholder="Name" formControlName="name">
    <input type="number" class="form-control" placeholder="No of Seats" formControlName="count">

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="bookingForm.invalid">Book</button>

    <button class="btn btn-lg btn-success btn-block" (click)="showAllSeats()">All Seat</button>
    <div style="color: red;">{{error}}</div>
  </form>

</div>
<div class="conformation-container" *ngIf="!flag">
  <div style="width: 30%;padding: 10% 0 0 4%;position: relative;">
    <div class="seat" style="display: flex;width: 100%;">
      <div class="seat-label available " style="height: 2rem;width: 10%;"></div>
      <div style="margin: 1.8% 0 0 5%;">Available Seat</div>
    </div>
    <div class="seat" style="padding: 15px 10px;display: flex;width: 100%;">
      <div class="seat-label booked" style="height: 2rem;width: 10%;"></div>
      <div style="margin: 1.8% 0 0 5%;">Booked Seat</div>
    </div>
    <div class="seat" style="display: flex;width: 100%;">
      <div class="seat-label selected" style="height: 2rem;width: 10%;"></div>
      <div style="margin: 1.8% 0 0 5%;">Selected Seat</div>
    </div>

    <div class="new-booking">
      <button class="btn btn-sm btn-primary" (click)="openBookingForm()"> New Booking</button>
    </div>
  </div>

  <div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div  class="seat" *ngIf="seat.row == 1">
          <label class="seat-label" [ngClass] = "seat.status == 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div  class="seat" *ngIf="seat.row == 2" >
          <label class="seat-label" [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 3" >
          <label class="seat-label" [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 4" >
          <label class="seat-label" [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 5" >
          <label class="seat-label"  [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 6" >
          <label class="seat-label"  [ngClass] = "seat.status == 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 7" >
          <label class="seat-label"  [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 8" >
          <label class="seat-label"  [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 9" >
          <label class="seat-label"  [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 10" >
          <label class="seat-label"  [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 11" >
          <label class="seat-label"  [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>
    <div class="seat-row">
      <div  *ngFor ="let seat of bookingInfo.seats">
        <div class="seat" *ngIf="seat.row == 12" >
          <label class="seat-label"  [ngClass] = "seat.status== 'booked' ? (bookingForm.controls.name.value == seat.bookedBy ? 'selected' : 'booked'): 'available'">
            {{seat.seatNo}}</label>
        </div>
      </div>
    </div>

  </div>
</div>

